@import './variables';

body {
    background: $dark;
    color: $blue;
}

.margin-left-sm {
    margin-left: 5px;
}

.margin-center {
    margin: 0 auto;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

