.search-results-container {
    width: 100%;
    text-align: center;
    margin-top: 100px;

    .search-result-paper {
        width: 80%;
        max-width: 1000px;
        min-height: 500px;
        margin: 0 auto;
        color: $white;
        background-color: $blueT !important;
        padding: 20px;
    }
}