.search-bar-container {
    .search-bar {
        background-color: $blueT !important;
        width: 100% !important;
        position: fixed !important;
        top: 0 !important;

        .input-icon-container {
            background-color: $dark; 
            border: none;
        
            .input-icon {
                color: $blue;
            }
        }

        .hovered-icon-container {
            &:hover {
              cursor: pointer !important;
              * {
                    &:hover {
                        cursor: pointer !important;
                    }
              }
            }
        }

        .search-input-form {
            margin-top: 10px;
            
            .search-input {
                width: 80%;
                margin: 0 auto;
                max-width: 310px;
                border: none;
            }
        }
    }    
}